body {
    margin: 0;
    padding: 0;
    background-image: url(grid.png);
}
.text {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.vbox, .hbox {
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    display:box;
    box-pack:center;
    box-align:center;
}
.vbox {
    -moz-box-orient:vertical;
    -webkit-box-orient:vertical;
    box-orient:vertical;
}
.hbox {
    -moz-box-orient:horizontal;
    -webkit-box-orient:horizontal;
    box-orient:horizontal;
}

main {
}

.title { 
    -webkit-perspective: 500; 
    height: 400px;           
}

.isolate {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-25deg);
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: cube-spin;
}

@-webkit-keyframes cube-spin {
    0% { -webkit-transform: rotateX(-25deg) rotateY(0deg); }
    100% { -webkit-transform: rotateX(-25deg) rotateY(-360deg); }
}

.cube .face {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: cyan;
    white-space: nowrap;
    border-width: 1px 0;
    border-style: solid;
    border-color: black;
}

.cube .east  { -webkit-transform: translateZ(100px); }
.cube .north { -webkit-transform: rotateY(90deg)  translateZ(100px); }
.cube .west  { -webkit-transform: rotateY(180deg) translateZ(100px); }
.cube .south { -webkit-transform: rotateY(270deg) translateZ(100px); }
.cube .top   { -webkit-transform: rotateX(90deg)  translateZ(100px); }

.cube .content {
    font-family: 'Times New Roman';
    font-size: 100px;
    display: inline-block;
}
.cube .east .content  { }
.cube .north .content { -webkit-transform: translateX(-200px); }
.cube .west .content  { -webkit-transform: translateX(-400px); }
.cube .south .content { -webkit-transform: translateX(-600px); }
.cube .top .content {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('terminator.svg');
    background-size: 100%;
    opacity: 0.5;
}
.big { font-size: 200%; }
.map {
    position:relative;
    padding: 50px;
}

.map .content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.map .content span {
    font-size: 150%;
    font-weight: bold;
    color: black;
    padding: 2px;
    text-shadow: 
        -1px -1px 2px white,
         1px -1px 2px white,
         1px  1px 2px white,
        -1px  1px 2px white;
}

.quote {
    position: relative;
    margin: 0 5em;
}

.quote blockquote:before {
    content: "\"";
    position: absolute;
    font-size: 600%;
    left: -.2em;
    top: -.4em;
    color: gray;
}

.quote blockquote {
    font-style: italic;
    font-size: 200%;
}
.quote cite {
    display: block;
    text-align: right;
    font-size: 150%;
}
