body {
    margin: 0;
    padding: 0;
    text-align: center;
}
.vbox, .hbox {
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    display:box;
    box-pack:center;
    box-align:center;
}
.vbox {
    -moz-box-orient:vertical;
    -webkit-box-orient:vertical;
    box-orient:vertical;
}
.hbox {
    -moz-box-orient:horizontal;
    -webkit-box-orient:horizontal;
    box-orient:horizontal;
}

main {
}

.title { 
    -webkit-perspective: 500; 
    height: 400px;           
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-25deg);
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: cube-spin;
}

@-webkit-keyframes cube-spin {
    0% { -webkit-transform: rotateX(-25deg) rotateY(0deg); }
    100% { -webkit-transform: rotateX(-25deg) rotateY(-360deg); }
}

.cube .face {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: cyan;
    white-space: nowrap;
    border-width: 1px 0;
    border-style: solid;
    border-color: black;
}

.cube .east  { -webkit-transform: translateZ(100px); }
.cube .north { -webkit-transform: rotateY(90deg)  translateZ(100px); }
.cube .west  { -webkit-transform: rotateY(180deg) translateZ(100px); }
.cube .south { -webkit-transform: rotateY(270deg) translateZ(100px); }
.cube .top   { -webkit-transform: rotateX(90deg)  translateZ(100px); }

.cube .content {
    font-family: 'Times New Roman';
    font-size: 100px;
    display: inline-block;
}
.cube .east .content  { }
.cube .north .content { -webkit-transform: translateX(-200px); }
.cube .west .content  { -webkit-transform: translateX(-400px); }
.cube .south .content { -webkit-transform: translateX(-600px); }
.cube .top .content {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('terminator.svg');
    background-size: 100%;
    opacity: 0.5;
}
.big { font-size: 200%; }
.map {
    position:relative;
    border: 50px solid transparent;
}
.map .table {
    position:relative;
}
.map .table table {
    border: 0;
    border-collapse: collapse;
    text-align: center;
    z-index: -1;
    width: 100px;
    height: 100px;
}
.map table td {
    padding: 0;
    border: 1px solid black;
    font-size: 200%;
    font-weight: bold;
}
.map table tr:first-child td:first-child { -webkit-transform: rotateZ(-45deg); }
.map table tr:first-child td:last-child  { -webkit-transform: rotateZ(45deg); }
.map table tr:last-child  td:last-child  { -webkit-transform: rotateZ(125deg); }
.map table tr:last-child  td:first-child { -webkit-transform: rotateZ(-125deg); }

.map .content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.map .content {
    font-size: 150%;
    font-weight: bold;
    color: black;
    padding: 2px;
    text-shadow: 
        -1px -1px 2px white,
         1px -1px 2px white,
         1px  1px 2px white,
        -1px  1px 2px white;
}
.map img.down {
    -webkit-transform:rotateZ(180deg);
}